//
// HTML tags design
//
@import '_variables.scss';

// @ Padding and margin variables maker
// For setting the box properties (Padding, margin, etc)
$primary-em: .8em;

@function box-maker($unit) {
  $box-height: 1 * $unit;
  $box-width: 2 * $unit;
  @return $box-height $box-width $box-height $box-width
}
$box-primary: box-maker($primary-em);
$box-small: box-maker($primary-em / 2);

// @ Message
.msg {
  color: rgba(0, 0, 0, .5);
  // font-size: .9em;
  font-weight: lighter;
  
  background-color: rgba(128, 128, 128, .05);

  // border-bottom: $border-main;
  border-radius: .5rem;
  text-align: center;

  padding: 1.6vh 1.6vw 1.6vh 1.6vw;
  display: block;

  &-warning {
    @extend .msg;
    background-color: rgba(255, 166, 0, 0.05);
    border: .14rem solid rgba(255, 166, 0, 0.1);
    color: rgba(255, 166, 0, 0.95);

    &::before {
      content: '\26A0';
      // color: red;
      font-size: 1.6em;
    }
  }

  &-error {
    @extend .msg;
    background-color: rgba(255, 0, 0, 0.705);
    color: white;

    &::before {
      content: '\26A0';
      // color: red;
      font-size: 1.6em;
    }
  }
}


// @ Button class 
.btn {
  // Default and common properties
  background-color: rgb(250, 250, 250);
  box-shadow: $shadow-primary;
  padding: $box-primary;
  border-style: none;
  margin: .8em;
  height: 3.2em;

  cursor: pointer;
  font-weight: bold;

  // Effects 
  &:hover {
    background-color: rgba(0, 60, 120, 0.6);
    color: white;
  }

  &:active {
    transform: scale(.9);
  }

  // Samll size
  &-small {
    @extend .btn;
    padding: $box-small;
    margin: $box-small;
  }
}


// @ Select 
.select {
  background-color: rgb(250, 250, 250);
  box-shadow: $shadow-primary;
  padding: .8em 1.6em .8em 1.6em;
  border-style: none;
  margin: .8em;

  // Small size
  &-small {
    @extend .select ;
    padding: $box-small; 
    margin: $box-small;
  }
}

// Panel > Board
// @ Panel 
.panel {
/*   display: flex;
  flex-wrap: wrap; */
  background-color: rgba(255, 255, 255, 1);
  box-shadow: $shadow-primary;
  padding: 3.2vh 3.2vw 3.2vh 3.2vw;
  // margin: 3.2vh 0 3.2vh  0;

  &-sub {
    background-color: rgba(200, 200, 200, .1);
    padding: $box-primary;
    margin: $box-small;
    color: gray;
  }
}

// @ Board 
.board {
  padding: $box-primary;
  margin: $box-small;
  border-radius: .25rem;
  border-top: .25em solid rgba(0, 0, 0, 0.1);
  border-bottom: .25em solid rgba(0, 0, 0, 0.1);

  &-sub {

  }
}

.title {


  &-sub {
    color: gray;
    text-align: center;
  }
}