:root {
  --first-color: darkblue;
  --second-color: lime;
}

/* $w-main: 1.62rem;
$h-main: 1.62rem;

$w-sub: w-main / 2;
$h-sub: h-main / 2; */
.msg, .msg-warning, .msg-error, .msg-success {
  color: rgba(0, 0, 0, 0.5);
  font-weight: lighter;
  background-color: rgba(128, 128, 128, 0.05);
  border-radius: .5rem;
  text-align: center;
  padding: 1.6vh 1.6vw;
  display: block;
}

.msg-warning {
  background-color: rgba(255, 166, 0, 0.05);
  border: 0.14rem solid rgba(255, 166, 0, 0.1);
  color: rgba(255, 166, 0, 0.95);
}

.msg-error {
  background-color: rgba(255, 0, 0, 0.05);
  border: 0.14rem solid rgba(255, 0, 0, 0.1);
  color: rgba(255, 0, 0, 0.95);
}

.msg-success {
  background-color: rgba(0, 128, 0, 0.05);
  border: 0.14rem solid rgba(0, 128, 0, 0.1);
  color: rgba(0, 128, 0, 0.95);
}

.btn, .btn-small, .btn-delete, .btn-save, .btn-basic {
  background-color: #fafafa;
  box-shadow: 0 0 0.64em 0.1em rgba(0, 0, 0, 0.1);
  padding: 0.8em 1.6em 0.8em 1.6em;
  border-style: none;
  margin: .8em;
  cursor: pointer;
  font-weight: bold;
  font-size: .85rem;
  color: rgba(0, 0, 0, 0.8);
}

.btn:hover, .btn-small:hover, .btn-delete:hover, .btn-save:hover, .btn-basic:hover {
  background-color: rgba(0, 60, 120, 0.6);
  color: white;
}

.btn:active, .btn-small:active, .btn-delete:active, .btn-save:active, .btn-basic:active {
  background-color: #148c00;
  color: white;
  transform: scale(0.9);
}

.btn-small {
  padding: 0.4em 0.8em 0.4em 0.8em;
}

.btn-delete {
  background-color: red;
  color: white;
}

.btn-save {
  background-color: green;
  color: white;
}

.btn-basic {
  padding: .2rem .8rem;
  box-shadow: unset;
  border: 1px solid rgba(128, 128, 128, 0.25);
  height: initial;
  font-weight: unset;
}

.input-part, .input-part-basic {
  background-color: #fafafa;
  border-style: none;
  box-shadow: 0 0 0.64em 0.1em rgba(0, 0, 0, 0.1) inset;
  padding: 0.8em 1.6em 0.8em 1.6em;
  margin: .8em;
}

.input-part-basic {
  background-color: #fafafa;
  box-shadow: 0 0 1em 0.1em rgba(128, 128, 128, 0.25) inset;
  padding: .2em .8em;
}

.select, .select-small {
  background-color: #fafafa;
  box-shadow: 0 0 0.64em 0.1em rgba(0, 0, 0, 0.1);
  padding: .8em 1.6em .8em 1.6em;
  border-style: none;
  margin: .8em;
}

.select-small {
  padding: 0.4em 0.8em 0.4em 0.8em;
  margin: 0.4em 0.8em 0.4em 0.8em;
}

.panel {
  /*   display: flex;
  flex-wrap: wrap; */
  background-color: white;
  box-shadow: 0 0 0.64em 0.1em rgba(0, 0, 0, 0.1);
  padding: 3.2vh 3.2vw 3.2vh 3.2vw;
}

.panel-sub {
  background-color: rgba(200, 200, 200, 0.1);
  padding: 0.8em 1.6em 0.8em 1.6em;
  margin: 0.4em 0.8em 0.4em 0.8em;
  color: gray;
}

.board {
  padding: 0.8em 1.6em 0.8em 1.6em;
  margin: 0.4em 0.8em 0.4em 0.8em;
  border-radius: .25rem;
  border-top: 0.25em solid rgba(0, 0, 0, 0.1);
  border-bottom: 0.25em solid rgba(0, 0, 0, 0.1);
}

.title-sub {
  color: gray;
  text-align: center;
}
