.warning {
  color: red;
  font-size: initial;
}

.warning::before {
  content: '\26A0';
  color: red;
  font-size: 1.6em;
}

.noticeMsg {
  color: rgba(0, 0, 0, 0.5);
  font-size: .9em;
  font-weight: lighter;
  background-color: rgba(230, 230, 230, 0.5);
  padding: .8em;
  display: block;
}

.btn, .btn-small {
  background-color: #fafafa;
  box-shadow: 0 0 0.64em 0.1em rgba(0, 0, 0, 0.16);
  padding: 0.8em 1.6em 0.8em 1.6em;
  border-style: none;
  margin: .8em;
  height: 3.2em;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover, .btn-small:hover {
  background-color: rgba(0, 60, 120, 0.6);
  color: white;
}

.btn:active, .btn-small:active {
  transform: translateY(4px);
}

.btn-small {
  padding: 0.4em 0.8em 0.4em 0.8em;
  margin: 0.4em 0.8em 0.4em 0.8em;
}

select {
  background-color: #fafafa;
  box-shadow: 0 0 0.64em 0.1em rgba(0, 0, 0, 0.16);
  padding: .8em 1.6em .8em 1.6em;
  border-style: none;
  margin: .8em;
}

.select, .select-small {
  background-color: #fafafa;
  box-shadow: 0 0 0.64em 0.1em rgba(0, 0, 0, 0.16);
  padding: .8em 1.6em .8em 1.6em;
  border-style: none;
  margin: .8em;
}

.select-small {
  padding: 0.4em 0.8em 0.4em 0.8em;
  margin: 0.4em 0.8em 0.4em 0.8em;
}

.panel {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  box-shadow: 0 0 0.64em 0.1em rgba(0, 0, 0, 0.16);
  padding: 1.6em;
  margin: .8em 0 .8em 0;
}

.panel-row {
  flex-direction: column;
}

.sub-panel {
  /* display: flex;
  flex-wrap: wrap; */
  background-color: rgba(200, 200, 200, 0.2);
  box-shadow: 0 0 0.64em 0.1em rgba(0, 0, 0, 0.16) inset;
  padding: 0.8em 1.6em 0.8em 1.6em;
  margin: 0.4em 0.8em 0.4em 0.8em;
  color: gray;
}

.board {
  padding: 0.8em 1.6em 0.8em 1.6em;
  margin: 0.4em 0.8em 0.4em 0.8em;
  border-radius: .25rem;
  border-top: 0.25em solid rgba(0, 0, 0, 0.1);
  border-bottom: 0.25em solid rgba(0, 0, 0, 0.1);
}

.quill-editor {
  font-size: 1.6rem;
}
