* {
  border-radius: .5em;
  line-height: 1.6em;
  font-family: 'Philosopher', sans-serif;
}

p {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

.input-part {
  background-color: #fafafa;
  box-shadow: 0 0 1em 0.1em rgba(200, 200, 200, 0.5) inset;
  padding: .8em 1.6em .8em 1.6em;
  border-style: none;
  margin: .8em;
}

input:focus {
  background-color: white;
}

input[type="checkbox"] {
  width: 1.6em;
  height: 1.6em;
}

select:focus,
input:focus,
.btn:focus {
  outline: none;
  box-shadow: 0 0 0.16em 0.1em rgba(20, 140, 0, 0.8);
}
