$black: rgba(0, 0, 0, 0.85);
$white: rgba(255, 255, 255, 0.85);

[data-theme="dark"] {
  $bg-main: $black;
  $color-main: $white;

  color: $color-main;
  background-color: $bg-main;
}

[data-thene="light"] {
  $bg-main: $white;
  $color-main: $black;

  color: $color-main;
  background-color: $bg-main;
}
